.footer-sec {
	padding-bottom: 60px;
	background: #fbfaf9;
	@include res(l) {
		padding-bottom: 40px;
	}
	&--black {
		background: #0c0f15;
		.footer__title {
			p {
				color: #334059;
			}
			span {
				color: #3e4e6c;
			}
		}
	}
}
.footer {}
.footer__title {
	text-align: center;
	p {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 48px;
		color: #e8e7e6;
		@include res(l) {
			font-size: 36px;
		}
	}
	span {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 300;
		color: #e8e7e6;
	}
}